/* ConfirmDelete.module.scss */
.iconBtn {
  background: none;
  cursor: pointer;
  transition: 200ms;
  > img {
    height: 40px;
    width: 40px;
  }
  &:hover {
    transform: scale(1.3);
  }
}

.dialog {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  display: none;
  align-items: center;
  justify-content: center;

  > .dialogInner {
    width: 400px;
    max-width: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px;

    h4 {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      .cancel {
        background: none;
        color: gray;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }

      .confirm {
        background: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }
    }

    .closeX {
      background: none;
      border: none;
      font-size: 18px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.dialogActive {
  display: flex !important;
}
