/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.container {
  margin: auto;
  max-width: 1170px;
}

.Orders {
  max-width: 100vw;
  height: 100vh;
  padding: 80px 0 0 60px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  > header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    > h1 {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 500;
    }
  }
  > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  > p {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 100px 0 0 30px;
  }
}
.Products {
  padding: 110px 0 0 100px;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background: rgb(212, 224, 228);
  @media (max-width: 550px) {
    padding: 110px 0 0 50px;
  }
  @media (max-width: 350px) {
    padding: 110px 0 0 40px;
  }
  > header {
    display: flex;
    align-items: center;
    @media (max-width: 860px) {
      align-items: flex-start;
      flex-direction: column;
    }
    @media (max-width: 350px) {
      padding: 0px 0 0 20px;
    }
    > h1 {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 500;
      margin-right: 40px;
      @media (max-width: 860px) {
        margin-bottom: 10px;
      }
    }
    > div {
      display: flex;
      align-items: center;
      @media (max-width: 715px) {
        align-items: flex-start;
        flex-direction: column;
        margin: 5px;
      }
      > div {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media (max-width: 715px) {
          margin: 5px;
        }
        @media (max-width: 450px) {
          align-items: flex-start;
          flex-direction: column;
        }
        > p {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          margin-right: 5px;
        }
        > select {
          cursor: pointer;
          width: 200px;
          border: solid 1px gray;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
    }
    > button {
      border: solid 2px green;
      border-radius: 5px;
      background: none;
      color: green;
      padding: 5px;
      transition: 300ms;
      font-family: "Roboto", sans-serif;
      font-weight: 600;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  > ul {
    margin-top: 15px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }
}
.empty-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  gap: 20px;
  > p {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
}
